{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block extra_title %}- Shopping Bag{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="overlay"></div> -->
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font">Shopping Bag</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col mx-auto">Service Info</th>
                                    <th scope="col mx-auto">Price</th>
                                    <th scope="col mx-auto">Date to discuss your project(s):</th>
                                    <th scope="col mx-auto">Qty</th>
                                    <th scope="col mx-auto"></th>
                                    <th scope="col" id="right-align">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr class= "bag-item-line">
                                    <td class="p-3 w-25">
                                        <div class="card bag-fake-card">
                                            <div class="card-body-bag py-1">
                                                <p class="item-name">{{ item.service.name }}</p>
                                            </div>
                                        {% if item.service.image %}
                                            <img class="img-fluid rounded" src="{% static item.service.image %}" alt="{{ item.service.name }}">
                                        {% elif item.service.image_url %}
                                            <img class="img-fluid rounded" src="{{ item.service.image_url }}" alt="{{ item.service.name }}">
                                        {% else %}
                                            <img class="img-fluid rounded" src="{% static 'images/services/sorrynoimage.jpg' %}" alt="{{ item.service.name }}">
                                        {% endif %}
                                        </div>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.service.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" id="bag-form-{{ forloop.counter }}" 
                                            action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class= "form-group col-sm-8">
                                                <div class="input-group date" id="datetimepicker-demo-{{ forloop.counter }}" 
                                                        data-value="{{ item.select_date }}" data-target-input="nearest">
                                                    <input type="text" name="select_date" class="form-control datetimepicker-input" 
                                                        value="{{ item.select_date }}" data-target="#datetimepicker-demo-{{ forloop.counter }}" required/>
                                                    <div class="input-group-append" data-target="#datetimepicker-demo-{{ forloop.counter }}" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form> 
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <a class="update-link"><i class="fas fa-minus fa-sm"></i></a>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form> 
                                        <div class="d-flex align-content-center flex-wrap">
                                            <a class="update-link text-danger"><small>Update </small></a>
                                            <i class="fas fa-grip-lines-vertical mx-auto"></i>
                                            <a class="remove-item text-black float-right" id="remove_{{ item.item_id }}"> <i class="fas fa-trash-alt fa-sm"><small> Remove</small></i></a>          
                                        </div>  
                                    </td>
                                    <td>
                                    </td>
                                    <td class="py-3 float-right">
                                        <p class="my-0">${{ item.service.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-3 text-right">
                                    <h4 class="mt-4"><strong> Total: ${{ total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <!-- Shopping buttons -->
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Anything else?</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
   
{% endblock %}

{% block postloadjs %}
{{ block.super}}
{% include 'products/includes/quantity_increase_decrease_btns_script.html' %}

<!--Javascript inspired by CI Boutique Ado module-->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId)
        let url = `/bag/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
