{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block extra_title %}- Shopping Bag{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font">Shopping Bag</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col">
            {% if bag_items %}
                {% include 'bag/includes/bag_view_desktop.html' %} 
                {% include 'bag/includes/bag_view_mobile.html' %} 
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Anything else?</span>
                </a>
            {% endif %}
        </div>
    </div>
    
   
{% endblock %}

{% block postloadjs %}
{{ block.super}}
{% include 'products/includes/quantity_increase_decrease_btns_script.html' %}

<!--Javascript inspired by CI Boutique Ado module-->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId)
        let url = `/bag/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
