{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Home{% endblock %}

{% block content %}
    <!--Landing image -->
    {% include 'home/includes/home_landing_img.html' %}
    <!--Experience section-->
    {% include 'home/includes/home_experience.html' %}
    <!-- Education section-->
    {% include 'home/includes/home_education.html' %}
    <!--Review section-->
    <!-- { include 'home/includes/home_reviews.html' } -->

<!-- <a id="scroll-top-button"></a> -->
    
{% endblock %}