/* Global style settings*/
html {
    height: 100%;
}

/* -------------------------------- Nav */
.nav-item.active > a {
    color: rgb(255,0,0,1)!important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(223, 56, 89);
} 

/* from Bulma similar to bootstraap*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.logo{
    height: 4rem;
}       

.main-logo-link {
    width: fit-content;
}

/* FOR THE SERVICES REUSE if need it check if used for something else */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* Brands div */
.btn-black {
    background: black;
    color: white;
} 

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
/* FOR THE SERVICES REUSE if need it check if used for something else section ends here*/

.text-black {
    color: #000 !important;
}

.text-white {
    color: white !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* --------------------------------  Footer */
/*sticky footer*/

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

.page-footer{
    background-color: #ffffff;
}

.footer-section {
    display: block;
    box-sizing: border-box;
    min-height: 300px;
    height: auto;
    background-color: black;
    clip-path: ellipse(129% 100% at 46.84% 100%);
}

.margin-curved{
    margin-top: 50px;
}

.media-icons{
    font-size: 1.5rem;
    color: #ffffff;
    padding: 3px;
    margin-top: 5px; */
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-timing-function: ease-in-out; 
}

.disclaimer-text{
    color: #949393eb!important;
}

/* --------------------------------  Home */
.section-title {
    margin-bottom: 80px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

/*Home - landing*/
.landing-image{
    background-image: url('/media/homepage_background_cropped.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0%; 
    background-repeat: no-repeat; 
    background-color: #cccccc;
    opacity: 0.65;
    /* Set a specific height */
    min-height: 100%;
    height: 500px;
    position: relative;
}

.landing-font{
    font-family: 'Raleway', sans-serif;
}

/*Home - Experience section*/
.text-year{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

.job-title{
    font-family: 'Roboto Mono', monospace;
}

.text-light {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #949393c7!important;
}

/*Home - Education section*/
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.education-bg-img {
    position: absolute;
    left: 0;
    top: -50px;
    z-index: -1;
}

.icon-color {
    color: #ffc107;
    width: 80px;
    text-align: center;
}

.mb-50 {
    margin-bottom: 50px!important;
}

.edu-text-year{
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5rem;
}

.edu-text-location{
    font-family: 'Nerko One', cursive;
}

/*Home - reviews*/
#demo {
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

/* when doing this section this should be given different name */
/* i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
} */

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}

/* --------------------------------  Products */
/*Services*/

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}
/*Services - grid/list*/
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.card{
    min-width: 100%;
}

.card-img-top{
    max-height: 150px;
}

.card-body{
    min-height: 100%;
}

.read-space{
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0rem;
}

.item.list-group-item{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event{
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image{
    margin-right: 10px;
}

.item.list-group-item .thumbnail{
    margin-bottom: 0px;
    display: inline-block;
}

.item.list-group-item .caption{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after{
    display: table;
    content: " ";
}

.item.list-group-item:after{
    clear: both;
}

/*Service detail*/

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.service-img-size {
    width: 500px;
}
.service-title{
    font-family: "Fredericka the Great", cursive;
    font-weight: 300;
    font-weight: bold;
    margin-top: 1.5rem;
}

.service-description{
    font-family: 'Source Sans Pro', sans-serif;
}

.price-text{
    font-family: 'Paytone One', sans-serif;
}

.muted {
    color: #999;
}

.date-font{
    font-family: 'Architects Daughter', cursive;
}
