 <!--HTML inspired  from Curved footer using clip-path shaped div | 
    https://cssmatic.net/ -->
        
<div class ="footer-section">
    <div class="row px-5 center">
        <!-- Contact info-->
        <div class="col-md-4 col-sm-12 text-center text-white margin-curved">
            <h4 >Contact Info</h4>
            <p class="mb-0">Lima</p>
            <p class="mb-0">Peru</p>
            <p class="mb-0">+51 424 4242</p>
            <p class="mb-0">yosoy@francofaura.com</p>
        </div>
        <!-- Socia media links-->
        <div class="col-md-4 col-sm-12 text-center margin-curved">
            <h4 class="text-white">Let's be Social</h4>
            <span><a href="https://www.linkedin.com/in/francofaura/" target="_blank">
            <i class="fab fa-linkedin-in mr-2 media-icons" aria-hidden="true"></i>
            </a></span>
            <span><a href="https://www.behance.net/francofaura" target="_blank">
                <i class="fab fa-behance mr-2 media-icons" aria-hidden="true"></i>
            </a></span>
            <span><a href="https://www.instagram.com/francofaura27/?hl=en" target="_blank">
                <i class="fab fa-instagram media-icons" aria-hidden="true"></i>
            </a></span>
        </div>
        <!-- Other links back to the website-->
        <div class="col-md-4 col-sm-12 text-center margin-curved">
            <h4 class="text-white">Links to the Page</h4>
        </div>
    </div>
    <!-- Disclaimer -->
    <div class="col-12 text-center disclaimer-text pb-3">
        <small> For educational purposes only | <br> &copy; 2020 G Faura Tellez  </small>
    </div>  
</div>

    

