<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown"><!--  DEACTIVATE data-toggle="dropdown" FOR THE LINKS TO WORK -->
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="about-me" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About me
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="portafolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portafolio
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}">
                Services
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="connect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connect
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>
