<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}">
                About me
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'my_portafolio' %}">
                Portafolio
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}">
                Services
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'lets_connect' %}">
                Connect
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>
