{% with url_name=request.resolver_match.url_name %}
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5 {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">
                About me
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 {% if url_name == 'my_portafolio' %}active{% endif %}" href="{% url 'my_portafolio' %}">
                Portfolio
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5 {% if url_name == 'products' %}active{% endif %}" href="{% url 'products' %}">
                Services
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 {% if url_name == 'lets_connect' %}active{% endif %}" href="{% url 'lets_connect' %}">
                Connect
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link {% if url_name == 'blog' %}active{% endif %}" href="#" id="blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>
{% endwith %}