{% comment %} <h6 class="mx-auto mb-3"><strong>Price</strong></h6>
<p class="my-0">${{ item.service.price }}</p>
<br>
<div class="mx-auto">
    <form class="update-form" method="POST" id="update-bag-form-{{ forloop.counter }}"
        action="{% url 'adjust_bag' item.item_id %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}"> {% endcomment %}
                        {% comment %} <span>
                            <a class="update-link"><i class="fas fa-minus fa-sm"></i></a>
                        </span> {% endcomment %}
                        {% comment %} <span>
                            <i class="fas fa-minus fa-sm"></i></a>
                        </span>
                    </button>
                </div>
                <input class="form-control form-control-sm qty_input" type="number"
                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                    data-item_id="{{ item.item_id }}"
                    id="id_qty_{{ item.item_id }}">
                <div class="input-group-append">
                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                        <span>
                            <i class="fas fa-plus fa-sm"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <a type="button" class="update-link btn btn-danger btn-sm" data-number="{{ forloop.counter }}"><small>Update </small></a> {% endcomment %}
    {% comment %} <div class="d-flex mx-auto flex-wrap float-right">
        <button type="button" class="btn btn-outline-danger btn-sm">
            <a class="update-link" data-number="{{ forloop.counter }}"><small>Update </small></a>
        </button>
        {% comment %} <a class="update-link btn btn-outline-danger"><small>Update </small></a>
    </div> {% endcomment %}
{% comment %} </div>
  {% endcomment %}