{% load static %}
<div class="card bag-fake-card">
    <div class="card-body-bag py-1">
        <h6 class="item-name">{{ item.service.name }}</h6>
    </div>
{% if item.service.image %}
    <img class="w-100" src="{% static '' %} {{ item.service.image }}" alt="{{ item.service.name }}">
{% elif item.service.image_url %}
    <img class="w-100" src="{{ item.service.image_url }}" alt="{{ item.service.name }}">
{% else %}
    <img class="w-100" src="{% static 'images/services/sorrynoimage.jpg' %}" alt="{{ item.service.name }}">
{% endif %}
</div>