{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- Script dependancies for the email.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
	<script>
		(function(){ // Script to initiate our email.js function //
            emailjs.init("user_OSr6kDfhTLsPLbkel5gMY");
        })(); 
	</script>
{% endblock %}

{% block extra_title %}- Conect {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font">Contact me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid connect-bg-image">
        <!-- Connect form easy set up using Email.js-->
        <form id="connect-form" class="connect-form-container" name="sentMessage" onsubmit="return sendEmail(this);">
            <!-- sendEmail function is invoke when the form is submitted -->
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="exampleInputName"><b>Name</b></label>
                    <input class="form-control connect-input-fields" id="exampleInputName" type="text" placeholder="Name" maxlength="255" data-validation-required-message="Please enter your name." required>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="exampleInputEmail"><b>Email Address</b></label>
                    <input class="form-control connect-input-fields" id="exampleInputEmail" type="email" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" data-validation-required-message="Please enter your email address." required>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="exampleInputTel"><b>Phone Number</b></label>
                    <input class="form-control connect-input-fields" id="exampleInputTel" type="tel" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" data-validation-required-message="Please enter your phone number." required>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label for="exampleInputMessage"><b>Message</b></label>
                    <textarea class="form-control" id="exampleInputMessage" rows="5" placeholder="Message" data-validation-required-message="Please enter a message." required></textarea>
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div id="success"></div>
            <div class="form-group">
                <button class="btn btn-black btn-xl" id="sendMessageButton" type="submit" value="Submit">Send</button>
            </div>
        </form>
        <br>
    </div>
    <div class= "mt-3 mb-3"></div>

    {% endblock %}

{% block postloadjs %}
    <!-- Script sendEmail.js code as per the code course + LOADER
    JS code below as you can't really use django templating language in an external javascript file-->
    
    <script>

        function sendEmail(signInForm) {
            //Code to show the loader similar to the code used in the course
            let buttonElement = $("#sendMessageButton");
            let buttonHtml = buttonElement.html();
            buttonElement.html( 
                `<div id="loader">
                    <img src="{% static 'images/loader.gif' %}" alt="loading..." />
                </div>`
            );

            emailjs.send("service_bx9wmy4", "urbano_design", { //add parameters
                "from_name": signInForm.exampleInputName.value,
                "from_email": signInForm.exampleInputEmail.value,
                "telephone": signInForm.exampleInputTel.value,
                "message": signInForm.exampleInputMessage.value,
                })
                //Response code for the promise when the email is successfully sent
                .then((response) => { 
                        buttonElement.html(buttonHtml);
                        alert("Your message is sent!", response); // success message
                        console.log("SUCCESS!", response);
                        $(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val(''); // control to check if the following values are not empty
                    },
                    //Response code for the promise when the email failed to sent
                    (error) => {
                        buttonElement.html(buttonHtml);
                        alert("Oops...", error); // error message
                        console.log("FAILED...", error);
                    }
                );
            return false; // Prevent from loading a new page
        } 
    </script> 

{% endblock %}
