{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}- My Profile {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font">Portafolio </h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
{% endblock %}