{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'about/css/slider.css' %}">
{% endblock %}

{% block extra_title %}- My Portfolio Slide Show {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font"> My Portfolio details </h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>  
    <div id="slides mb-3">
        <section id="Slide_cover">
            <!-- <h2>fullPage.js</h2>
            <h3>This is the first section</h3> -->
            <!-- <div class="scroll-icon">
                <p>Jump into the last slide</p>
                <a href="#fifthSection/1" class="icon-up-open-big"></a>
            </div> -->
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portafolio_cover_1.png" alt="Show slide">
        </section>
        <section id="Slide_1" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_1.png" alt="Show slide">
        </section>
        <section id="Slide_2" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_2.png" alt="Show slide">
        </section>
        <section id="Slide_3" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_3.png" alt="Show slide">
        </section>  
        <section id="Slide_4" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_4.png" alt="Show slide">
        </section> 
        <section id="Slide_5" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_5.png" alt="Show slide">
        </section> 
        <section id="Slide_6" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_6.png" alt="Show slide">
        </section> 
        <section id="Slide_7" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_7.png" alt="Show slide">
        </section> 
        <section id="Slide_8" class="vertical-scrolling">
            <img class="img-fluid img-effect" src="/static/images/portafolio_cover/portfolio_example_1/Example_1_slide_8.png" alt="Show slide">
        </section> 
    </div>
    <br>

    
{% endblock %}

{% block postloadjs %}
<script src="{% static 'about/js/slider.js' %}"></script>   
<script type="text/javascript">
    var mySlider = slider('.slides');
</script>
{% endblock %}

<!-- <div class="container-scroller">
         Portafolio -->
        <!-- <div class="parallax">
            <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="/static/images/portafolio_cover/portafolio_cover_1.png"></div>
        </div>
        <div class="parallax">
            <div class="parallax" data-parallax="scroll" data-z-index="2" data-image-src="/static/images/portafolio_cover/portafolio_cover_2.png"></div>
        </div> -->