{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'about/css/slider.css' %}">
{% endblock %}

{% block extra_title %}- My Portfolio Slide Show {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <hr>
                <h2 class="logo-font"> My Portfolio details </h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr>
            </div>
        </div>
    </div>  
    <div class="slides mb-3 bg-portfolio-slide">
        <section id="cover">
        </section>
        <section id="slide-1">
        </section>
        <section id="slide-2">
        </section>
        <section id="slide-3">
        </section>
        <section id="slide-4">
        </section>
        <section id="slide-5">
        </section>
        <section id="slide-6">
        </section>
        <section id="slide-7">
        </section>
        <section id="slide-8">
        </section>  
    </div>
    <br>

    
{% endblock %}

{% block postloadjs %}
<!-- Code inspired from https://github.com/kevinoes/page-slider-js -->
<script src="{% static 'about/js/slider.js' %}"></script>   
<script type="text/javascript">
    var mySlider = slider('.slides');
</script>
{% endblock %}

<!-- <div class="container-scroller">
         Portafolio -->
        <!-- <div class="parallax">
            <div class="parallax" data-parallax="scroll" data-z-index="1" data-image-src="/static/images/portafolio_cover/portafolio_cover_1.png"></div>
        </div>
        <div class="parallax">
            <div class="parallax" data-parallax="scroll" data-z-index="2" data-image-src="/static/images/portafolio_cover/portafolio_cover_2.png"></div>
        </div> -->