{% load static %}
<section>
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption-reviews ">
                        <p>Franco is a highly proficient designer. His work has a powerful impact on the audience and he consistently performs above the company's expectations. 
                            He is a very humble guy, always ready to help his colleagues. 
                            Franco has a great collaborative mindset that improves the dynamics of the team.</p> 
                        <img src="{% static 'images/reviews/Review_img_1.jpg' %}" class="img-fluid-reviews rounded-circle" alt="review-image-pic">
                        <div class="image-caption">Nils Julián Santos Quispe</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-reviews ">
                        <p>Franco is one of the most creative and versatile designers I have worked with. 
                            He has a broad visual culture and a developed aesthetic sense, which allows a clear, 
                            confident style to develop in graphic and interactive proposals.</p> 
                        <img src="{% static 'images/reviews/Review_img_2.jpg' %}" class="img-fluid-reviews rounded-circle" alt="review-image-pic">
                        <div class="image-caption">Luis Miguel Rodriguez Blas</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption-reviews ">
                        <p>Franco is a great, great professional. He has team thinking, is creative, and is able to solve problems quickly. 
                            I have known him for more than 5 years and I can say that he is a person who has a good attitude, adapts easily to new situations and has a good sense of humour. :).</p> 
                        <img src="{% static 'images/reviews/Review_img_3.jpg' %}" class="img-fluid-reviews rounded-circle" alt="review-image-pic">
                        <div id="image-caption">Kenti Llanos Lluncor</div>
                    </div>
                </div>
            </div> 
            <a class="carousel-control-prev" href="#demo" data-slide="prev"> 
                <i class="fas fa-arrow-left"></i> 
            </a> 
            <a class="carousel-control-next" href="#demo" data-slide="next"> 
                <i class="fas fa-arrow-right"></i> 
            </a>
        </div>
    </div>
    <br>
</section>
