<!-- https://www.w3schools.com/howto/howto_css_parallax.asp -->
<section class="vh-100">
    <div class="landing-image">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 col-lg-11 my-auto ">
                    <br>
                    <h1 class="landing-font text-white mt-3">
                        Inspiration comes from where you least expect it
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="landing-area bg-dark" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-11 mx-lg-auto">
        <h1 class="landing-font text-white text-left">Inspiration comes from where you least expect it</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100 vh-100">
    <img class="img-fluid w-100" src="/media/homepage_background_cropped.jpg" alt="bg-shape" />
  </div>
</section> -->
