<!-- inspired in https://www.w3schools.com/howto/howto_css_parallax.asp -->
<section class="vh-100">
    <h2 class="hidden">This is a hidden heading</h2>
    <div class="landing-image">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 col-lg-11 my-auto ">
                    <br>
                    <h1 class="landing-font text-white mt-3">
                        Inspiration comes when you least expect it
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
