{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Services{% endblock %}

{% block extra_css %}
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&amp;display=swap" rel="stylesheet">
    <!-- Date Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Inspired in template https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=gadget-store-product-details-page    -->
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="logo-font">Services</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-polaroid img-fluid service-img-size" src="{{ service.image_url }}" alt="{{ service.name }}" />
            </div>
            <div class="col-md-6">
                <h2 class="service-title">{{ service.name }}</h2>
                <p class="service-description">{{ service.description }}</p>
                <hr>
                <h4>Price  <strong>$ {{ service.price }}</strong></h4>
                <p class="muted">Inclusive of all taxes.</p>
                <br>
                <!-- Date picker -->
                <h4>Select desired approach call date</h4>
                <div class = "form-group">
                    <div class = "input-group">
                        <input type = "text" id="datetimepicker" class= "form-control">
                        <span class = "input-group-addon">
                            <i class = "fa fa-calendar-alt"></i>
                        </span>
                    </div>  
                </div>
                <p class="muted small mt-2">
                    The confirmation of your desired date and chosen service will 
                    be sent to your email together with the next steps for a successful collaboration.
                </p>
                <p class="text-right"><a href="#" class="btn btn-success btn-large">Add to cart now</a></p>
            </div>
        </div>
        <div class="row product-info">
            <div class="col-10 offset-1">
                <h4 class="muted">Service Specification</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Research</th>
                            {% if service.research %}
                                <td>Included</td>
                             {% else %}
                                <td>Not included</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Design sprint</th>
                            {% if service.design_sprint %}
                                <td>Included</td>
                             {% else %}
                                <td>Not included</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Usability testing</th>
                            {% if service.usability_testing %}
                                <td>Included</td>
                             {% else %}
                                <td>Not included</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>{{ service.duration }}</td>
                        </tr>
                            <tr>
                            <th>Revision</th>
                            <td>{{ service.revision }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<!-- Date picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    // Generates a list or grid view when the respective buttons are clicked
    $(function() {
        $('#datetimepicker').datetimepicker();
    })
</script>
{% endblock %}
