{% extends "base.html" %}
{% load static %}
{% block extra_title %}- Services detail{% endblock %}

{% block extra_css %}
    <!-- Date Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <hr>
                <h2 class="logo-font">Services</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <hr class="mb-2">
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Service image -->
        <div class="row">
            <div class="col-10 text-center">
                <div class="card-img">
                    {% if service.image %}
                        <img class="img-polaroid img-fluid image-size" src="{% static service.image %}" alt="{{ service.name }}"> 
                    {% elif service.image_url %}
                        <img class="img-polaroid img-fluid image-size" src="{{ service.image_url }}" alt="{{ service.name }}">    
                    {% else %}
                        <img class="img-polaroid img-fluid image-size" src="{% static 'images/services/sorrynoimage.jpg' %}" alt="{{ service.name }}">
                    {% endif %}
                </div>
            </div>
        {% if request.user.is_superuser %}
            <div class="col-2 mt-5">
                <p class="float-right">
                    <small class="mr-3 mt-3 mb-0">
                        <a href="{% url 'edit_product' service.id %}">Edit</a> | 
                        <!--Defensive Programming Bootstraap for User to reconfirm DELETE action-->
                        <a href="" class="text-danger btn modal-trigger txt-size-modal"
                            data-toggle="modal" data-target="#exampleModal"> Delete</a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-circle text-danger"></i>
                                            Do you want to delete this <br/><span class="font-weight-bold">{{ service.name }}</span>?</h5>
                                        <br>
                                        <a href="{% url 'delete_product' service.id %}" class="btn btn-danger btn-small red modal-close">Delete</a>
                                        <a href="#" class="btn btn-small btn-dark" data-dismiss="modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </small>
                </p>    
            </div>
        {% endif %}  
        </div>
        <!-- Service information -->
        <hr>
        <div class="row mt-5">
            <div class="col-md-6 text-justify">
                <h2 class="service-title">{{ service.name }}</h2>
                {% if service.category %}
                    <p class="small mt-1 mb-0">
                        <!-- Link to search for specific category -->
                        <a class="text-muted" href="{% url 'products' %}?category={{ instance.category.name }}"> 
                            <i class="fas fa-tag mr-1"></i>{{ service.category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                <p class="service-description">{{ service.description }}</p>
                <br>  
                <h4 class="muted service-includes">Includes</h4>
                <div class="table-style mx-auto">
                    <table class="table table-striped service-includes">
                        <tbody>
                            <tr>
                                <th>Research</th>
                                {% if service.research %}
                                    <td>Included</td>
                                {% else %}
                                    <td>Not included</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Design sprint</th>
                                {% if service.design_sprint %}
                                    <td>Included</td>
                                {% else %}
                                    <td>Not included</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Usability testing</th>
                                {% if service.usability_testing %}
                                    <td>Included</td>
                                {% else %}
                                    <td>Not included</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Duration</th>
                                <td>{{ service.duration }}</td>
                            </tr>
                                <tr>
                                <th>Revision</th>
                                <td>{{ service.revision }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 ml-0">
                <h4 class="price-text text-right mt-2">Price  <strong>$ {{ service.price }}</strong></h4>
                <p class="muted text-right">Inclusive of all taxes.</p>
                <!-- Form to add product to bag -->
                <form class="form" action="{% url 'add_to_bag' service.id %}" method="POST">
                    <!-- Django cross-site request forgery protection -->
                    {% csrf_token %} 
                    <!-- Date picker -->
                    <h4 class="date-font"><strong>Select date to discuss project: </strong></h4>
                    <div class="col-sm-9">
                        <div class= "form-group">
                            <div class="input-group date" id="datetimepicker-demo" data-target-input="nearest">
                                <input type="text" name="datetimepicker1" class="form-control datetimepicker-input" data-target="#datetimepicker-demo" required/>
                                <div class="input-group-append" data-target="#datetimepicker-demo" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="muted small mt-2">
                        The confirmation of your desired date and chosen service will 
                        be sent to your email together with the next steps for a successful collaboration.
                    </p>
                    <!-- Quantity input -->
                    <h4 class="date-font"><strong>Quantity:  </strong></h4>
                    <div class="input-group w-50">
                        <!-- Increment/Decrement buttons -->
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-black rounded-0" 
                                data-item_id="{{ service.id }}" id="decrement-qty_{{ service.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty_input" type="number" 
                            name="quantity" value="1" min="1" max="99" 
                            data-item_id="{{ service.id }}" 
                            id="id_qty_{{ service.id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-black rounded-0"
                                data-item_id="{{ service.id }}" id="increment-qty_{{ service.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <!--Buttons -->
                    <div class="col-12 mt-4 mb-4 text-left ">
                        <!--Keep shopping btn -->
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 resize-btns">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <!--Add to cart btn -->
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase resize-btns" value="Add to Bag now">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                <br>  
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super}}
{% include 'products/includes/quantity_increase_decrease_btns_script.html' %}
{% include 'products/includes/defensive_modal.html' %}

<!-- Date picker  inspired on https://www.jqueryscript.net/time-clock/Bootstrap-4-Date-Time-Picker.html -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    // Generates a date picker
    $(function () {
        $('#datetimepicker-demo').datetimepicker();
    });
</script>
{% endblock %}
